/* Body Tag */

body{
    background-attachment: fixed;
    background-image: url('../images/pattern.png');
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
}

/* Opening Screen */

div#openingScreen{
    background: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
    z-index: 2;
}

div#openingScreen h1{
    color: black;
    font-family: -apple-system, 'San Francisco', 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

div#openingScreen h2{
    color: black;
    font-family: -apple-system, 'San Francisco', 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

/* Quiz Timer */

div#timeBox{
    background: white;
    border: black solid 1px;
    display: none;
    flex-direction: column;
    justify-content: center;
    left: 20px;
    padding: 2em;
    position: fixed;
    top: 20px;
}

div#timeBox h1{
    color: black;
    font-family: -apple-system, 'San Francisco', 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

/* Quiz Styling */

div#quizArea{
    background: white;
    border: black solid 1px;
    display: block;
    margin: 20px auto;
    width: 50%;
    z-index: 1;
}

div#quizArea h1{
    color: black;
    font-family: -apple-system, 'San Francisco', 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

div#quizArea h2{
    color: black;
    font-family: -apple-system, 'San Francisco', 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 20px;
    text-align: left;
}

div#quizArea form.answerContainer{
    margin: 0 20px;
}

div#quizArea form.answerContainer label{
    display: block;
    font-family: -apple-system, 'San Francisco', 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

div#quizArea a#submitBtn{
    background: black;
    color: white;
    cursor: pointer;
    display: block;
    font-family: -apple-system, 'San Francisco', 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 20px 20px;
    padding: 0.5rem 1rem;
    position: relative;
    text-align: center;
    width: auto;
}

/* Final Score Page */

div#scorePage{
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: white;
    border: black solid 1px;
    display: none;
    flex-direction: column;
    height: 33.33%;
    justify-content: center;
    left: 0;
    margin: auto;
    padding: 2em 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

div#scorePage h1{
    color: black;
    font-family: -apple-system, 'San Francisco', 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}
